In [7]:
# DATABASE CREATION
import mysql.connector
conn = mysql.connector.connect(host="localhost", user="root", password="")
cursor = conn.cursor()
my_db = "rp_huye_db_l7"
try:
    cursor.execute(f"CREATE DATABASE {my_db} ")
    print("Database created successfully!")
except:
    print(f"Failed to create database called: {my_db}")
    
# cursor.close()
# conn.close()

Failed to create database called: rp_huye_db_l7

In [8]:
# REUSABLE LINE FOR CONNECTION OF DB AND ITS TABLES
my_db="rp_huye_db_l7"
table = "students"
table2 = 'course'
conn = mysql.connector.connect(host="localhost", user="root", password="", database=my_db)
cursor = conn.cursor()

In [9]:
# CREATE TABLE
try:
    
    cursor.execute(f"""
    CREATE TABLE {table} (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(40),
    email VARCHAR(40) UNIQUE,
    age INT,
    gender VARCHAR(10),
    major VARCHAR(100)
    
    )
    """)
    print(f"{table} Table created successfully!")
except:
        print(f'failed to create a table: {table}')

failed to create a table: students

In [14]:
# INSERT DATA INTO MYSQL TABLE
try:
    sql = f"INSERT INTO {table} (name, email, age, gender, major) VALUES (%s, %s, %s, %s, %s)"
    #values = ("UWINEZA Alice","alise@gmail.com", 30,"female", "Road Engineeriing")
    #values = ("KOMERA Kemmy","komera@gmail.com", 10,"Male", "Computer Engineeriing")
    values = ("Abimana Afssa", 27, "Electronics")
    cursor.execute(sql,values)
    conn.commit() # SAVE THE CHANGE INTO TABLE
    print(cursor.rowcount, f"New {table} Record Inserted Successfully!")
except:
    print(f"Failed to insert {table} data")

Failed to insert students data

In [15]:
try:
    cursor.execute(f"""select * from {table}""")
    result=cursor.fetchall()
    for row in result:
        print(f"{row}")
except:
    print(f"Failed to fetch record from {table} table")

(1, 'KALISA Emmy', 'kalisa@gmail.com', 30, 'Male', 'Civil Engineeriing')
(3, 'UWINEZA Alice', 'alise@gmail.com', 30, 'female', 'Road Engineeriing')
(4, 'KOMERA Kemmy', 'komera@gmail.com', 10, 'Male', 'Computer Engineeriing')