In [5]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

if conn.is_connected():
    print("Connected to MySQL successfully!")

conn.close()

Connected to MySQL successfully!

In [6]:
import mysql.connector

# Establish Database Connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",  # Change to your MySQL username
    password=""  # Change to your MySQL password
)

cursor = conn.cursor()

# Create Database
cursor.execute("CREATE DATABASE IF NOT EXISTS coursesmanagement_db")
cursor.execute("USE coursesmanagement_db")

# Table creation SQL statements
tables = {
    "programmes": """
        CREATE TABLE IF NOT EXISTS programmes (
            programmeId INT AUTO_INCREMENT PRIMARY KEY,
            programmeTitle ENUM('PhD', 'Masters', 'Bachelors') NOT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL
        )
    """,
    "positions": """
        CREATE TABLE IF NOT EXISTS positions (
            positionId INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(255) NOT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL
        )
    """,
    "users": """
        CREATE TABLE IF NOT EXISTS users (
            userId INT AUTO_INCREMENT PRIMARY KEY,
            fname VARCHAR(255) NOT NULL,
            lname VARCHAR(255) NOT NULL,
            userUniversityCode VARCHAR(255) NOT NULL,
            email VARCHAR(255) NOT NULL,
            phone VARCHAR(255) NOT NULL,
            status VARCHAR(255) NOT NULL DEFAULT 'Active',
            gender VARCHAR(255) NOT NULL,
            dob DATETIME NOT NULL,
            password VARCHAR(255) NOT NULL,
            profileImage VARCHAR(255) DEFAULT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL,
            positionId INT DEFAULT NULL,
            FOREIGN KEY (positionId) REFERENCES positions(positionId) 
            ON UPDATE CASCADE ON DELETE SET NULL
        )
    """,
    "courses": """
        CREATE TABLE IF NOT EXISTS courses (
            courseId INT AUTO_INCREMENT PRIMARY KEY,
            courseCode VARCHAR(255) NOT NULL,
            courseTitle VARCHAR(255) NOT NULL,
            programmeId INT NOT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL,
            FOREIGN KEY (programmeId) REFERENCES programmes(programmeId) 
            ON UPDATE CASCADE ON DELETE CASCADE
        )
    """,
    "itemtypes": """
        CREATE TABLE IF NOT EXISTS itemtypes (
            itemTypeId INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(255) NOT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL
        )
    """,
    "items": """
        CREATE TABLE IF NOT EXISTS items (
            itemId INT AUTO_INCREMENT PRIMARY KEY,
            serialNumber VARCHAR(255) NOT NULL,
            labCode VARCHAR(255) NOT NULL,
            name VARCHAR(255) NOT NULL,
            status ENUM('Working', 'Destroyed') NOT NULL,
            comment VARCHAR(255) DEFAULT NULL,
            updatedBy VARCHAR(255) DEFAULT NULL,
            itemTypeId INT NOT NULL,
            userId INT NOT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL,
            FOREIGN KEY (itemTypeId) REFERENCES itemtypes(itemTypeId) 
            ON UPDATE CASCADE ON DELETE CASCADE,
            FOREIGN KEY (userId) REFERENCES users(userId) 
            ON UPDATE CASCADE ON DELETE CASCADE
        )
    """,
    "rents": """
        CREATE TABLE IF NOT EXISTS rents (
            rentId INT AUTO_INCREMENT PRIMARY KEY,
            applicationNumber VARCHAR(255) NOT NULL,
            expectedReturnDate DATETIME NOT NULL,
            returnDate DATETIME NOT NULL,
            rentCondition ENUM('In_lab', 'Rented', 'Returned') NOT NULL DEFAULT 'In_lab',
            rentStatus ENUM('Pending', 'Approved', 'Cancelled') NOT NULL DEFAULT 'Pending',
            rentBy VARCHAR(255) DEFAULT NULL,
            approvedBy VARCHAR(255) DEFAULT NULL,
            returnedBy VARCHAR(255) DEFAULT NULL,
            cancelledBy VARCHAR(255) DEFAULT NULL,
            courseId INT NOT NULL,
            itemId INT NOT NULL,
            userId INT NOT NULL,
            createdAt DATETIME NOT NULL,
            updatedAt DATETIME NOT NULL,
            FOREIGN KEY (courseId) REFERENCES courses(courseId) 
            ON UPDATE CASCADE ON DELETE CASCADE,
            FOREIGN KEY (itemId) REFERENCES items(itemId) 
            ON UPDATE CASCADE ON DELETE CASCADE,
            FOREIGN KEY (userId) REFERENCES users(userId) 
            ON UPDATE CASCADE ON DELETE CASCADE
        )
    """
}

# Execute table creation
for table_name, table_sql in tables.items():
    cursor.execute(table_sql)
    print(f"Table {table_name} created successfully.")

# Close connection
cursor.close()
conn.close()

print("Database setup complete.")

Table programmes created successfully.
Table positions created successfully.
Table users created successfully.
Table courses created successfully.
Table itemtypes created successfully.
Table items created successfully.
Table rents created successfully.
Database setup complete.

In [ ]:
# INSERT DATA INTO MYSQL TABLE
try:
    sql = f"INSERT INTO users (fname, lname, userUniversityCode, email, phone,status,gender,dob,password,profileImage,createdAt) VALUES (%s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s, %s)"
    values = ("UWINEZA ","Alice","400", "alice@gmail.com","0788888464","active","male","2001/12/11","1234", "image.jpg","")


    cursor.execute(sql,values)
    conn.commit() # SAVE THE CHANGE INTO TABLE
    print(cursor.rowcount, f"New users Record Inserted Successfully!")
except:
    print(f"Failed to insert users data")