In [12]:
def l7():{
    print("Hello, World!")
}

In [13]:
l7()

Hello, World!

In [14]:
#arguments
def l7(x,y):
    
       return x+y
a=6
b=10
print("Sum is ",l7(a,b))

Sum is  16

In [15]:
#default parameter Value

def l7(year=3,name='John'):
    print ('Year of study is: ',year,'\nMy name is',name)

l7()

Year of study is:  3
My name is John

In [24]:
#passing a list as an arguments

def list_of_fruits(fruits):
    for fruit in fruits:
        print(fruit,end='\t')
fruit1=['mango','avocado','banana','']

list_of_fruits(fruit1)

mango	avocado	banana

In [22]:
#ARRAY
import array as arr
university=arr.array('i',[20,19,18,17,65])

print(university)
print(university[-1])

array('i', [20, 19, 18, 17, 65])
65

In [42]:
#create a class
class Person:
    def __init__(self,name,gender,age,status):

        self.name=name,
        self.gender=gender,
        self.age=age,
        self.status=status
    def my_person(self):
        print(self.name,self.age,self.gender,self.status)
    

#create an object of the class
p1= Person('John','male',23,'Married')
#update name,gender,age
p1.name='Muhire'
p1.age=30
p1.gender='female'
#drop/delete a class property
# del p1.status
p1.my_person()

Muhire 30 female Married

In [43]:
class Student(Person):
    pass
    p1= Person('John','male',23,'Married')
p1.name

'Muhire'

In [45]:
import math
print(math.exp(4))

54.598150033144236

In [ ]:
#datetime
import datetime as mydate
import time
print(mydate.date.today())
print(time.strftime("%H:%M:%S"))

2025-02-14
11:04:26

In [93]:
#try and catch
try:
   x=1
   print(x/0)

except:
      print("The number should not devided by zero")

The number should not devided by zero

In [95]:
try:
    x=int(input("Enter number 1:"))
    y=int(input("Enter number 2:"))
    sum=x+y

    print(sum)
except:
   print('Error')

11